// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border: 1px groove grey;

}

.form-group {
  padding: 20px;
}

.submit{
  text-align: center;
}

body {
  padding: 15px;
}
